
html,
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: 'Open Sans', Arial, sans-serif;
  line-height: 1.5;
  margin: 0px;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 13px  ;
  
}



.content-area {
  height: calc(100vh - 80px);
  display: flex;
  background-color: #f9f9f9;
  margin: 0%;
  
}
aside {
  height: 100%;
  width: 280px;
  background-color: white;
  overflow-y: auto;
  
  
}
nav {
  width: 100%;
  display: flex;
  flex-direction:column;
  margin: 0 0 ;
}
hr {
  width: 90%;
  border-style: solid;
  color: cornflowerblue;
  border-width: 1.01px;
  padding-right: 15px;
  
}
nav hr {
  height: 1px;
  background-color:#4d4e53;
  border: none;
  margin: 10px;
  margin: 4px 0;
}


.nav-link {
  display: flex;
  align-items: center;
  padding:0% ;
  margin: 0px;
  text-decoration: none;
  color: black;
}

.nav-link:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-link span {
  margin-left: 24px;
  font-size: 1.4rem;
  line-height: 2em;
  font-weight: 400;
  color: #030303;
}

.active {
  background-color: #e5e5e5;
  width: 100%;
  
}

#active-span {
  font-size: 500;
}

aside {
  box-shadow: 2px 8px 4px #888888;
  height: 100%;
  position: fixed;
}
nav{
  height: 100%;
}
h1 {
  font-size: 1.1rem;
  counter-reset: #606060;
  font-weight: 500;
  padding: 1px 10px;
  text-transform: uppercase;
}

a {
  font-size: 1.1rem;
  counter-reset: #606060;
  font-weight: 700;
  padding: 1px 10px;

}
a hr {
  border-style: solid;
  color: #ddd;
}

main {
  border-top: 1px solid #ddd;
  position: absolute;
  margin-left: 300px;
  padding: 20px;
  height: 50%;
  flex-direction:column;

}

main header {
  color: black;
  padding: 10px 10px;
  margin-left:15%;
  font-size: 20px;


}



p {
  color: #030303;
  padding: 5px 5px;
  margin-left:0%;
  font-size: 20px;
  margin-top: 1px;
}

